{% extends 'base.html' %}
{% block content %}
<form action="" method="post" novalidate>
     {{ intakef.csrf_token }}
    <div class="container border-top my-1 py-2">
        <div class="row">
            <div class="col-sm">
                {{ intakef.child_firstname.label()}}
                {{ intakef.child_firstname(class="form-control")}}
            </div>
            <div class="col-sm">
                {{ intakef.child_middlename.label()}}
                {{ intakef.child_middlename(class="form-control")}}
            </div>
            <div class="col-sm">
                {{ intakef.child_lastname.label()}}
                {{ intakef.child_lastname(class="form-control")}}
            </div>
        </div>
        <div class="row py-2">
            <div class="col-6 col-md-4">
                {{ intakef.child_dob.label()}}
                {{ intakef.child_dob(class="form-control")}}
            </div>
        </div>
    </div>
    <div class="container border-top my-3 py-3">
        <div class="row">
            <div class="col-sm">
                {{ intakef.father_name.label()}}
                {{ intakef.father_name(class="form-control")}}
            </div>
            <div class="col-sm">
                {{ intakef.father_dob.label()}}
                {{ intakef.father_dob(class="form-control")}}
            </div>
            <div class="col-sm">
                {{ intakef.mother_name.label()}}
                {{ intakef.mother_name(class="form-control")}}
            </div>
            <div class="col-sm">
                {{ intakef.mother_dob.label()}}
                {{ intakef.mother_dob(class="form-control")}}
            </div>
        </div>
    </div>
    <div class="container border-top my-3 py-3">
        <div class="row">
            <div class="col-sm">
                {{ contf.ph_areacode.label()}}
                {{ contf.ph_areacode(class="form-control")}}
            </div>
            <div class="col-sm">
                {{ contf.ph_phonenumber.label()}}
                {{ contf.ph_phonenumber(class="form-control")}}
            </div>
            <div class="col-sm">
                {{ contf.email_addr.label()}}
                {{ contf.email_addr(class="form-control")}}
            </div>
        </div>
    </div>
    <div class="container border-top my-3 py-3">
        <div class="row">
            <div class="col-sm">
                {{ addrf.address_line1.label()}}
                {{ addrf.address_line1(class="form-control")}}
            </div>
            <div class="col-sm">
                {{ addrf.address_line2.label()}}
                {{ addrf.address_line2(class="form-control")}}
            </div>
            <div class="col-sm">
                {{ addrf.address_city.label()}}
                {{ addrf.address_city(class="form-control")}}
            </div>
        </div>
        <div class="row py-2">
            <div class="col-6 col-md-4">
                {{ addrf.address_state.label()}}
                {{ addrf.address_state(class="form-control")}}
            </div>
            <div class="col-6 col-md-4">
                {{ addrf.address_zip.label()}}
                {{ addrf.address_zip(class="form-control")}}
            </div>
        </div>
    </div>
    <div class="container">
        {{intakef.save_form(class="btn btn-primary")}}
    </div>
</form>
{% endblock content %}